:root {
	--neon-green: #1DC690;
	--blue-grotto: #278AB0;
	--blue: #1C4670;
	--ivory: #EAEAE0;
	--bg0: var(--blue);
	--bg1: var(--ivory);
	--bg2: var(--neon-green);
	--bg3: var(--blue-grotto);
	--fg0: var(--blue);
	--fg1: var(--neon-green);
}

html {
	height: 100%;
	width: 100%;
	max-width: 100%;
	font-size: 100%;
}

body {
	font-family: 'Courier New', monospace;
	font-size: 1rem;
	line-height: 1.5rem;
	-webkit-text-size-adjust: 100%;
	margin: 0;
}

header, footer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	background-color: var(--bg3);
	color: var(--fg1);
}

main, article {
	padding: 3vh 3vw;
}

header > img {
	width: 10vh;
	height: 10vh;
	padding: 45vh;
	margin: 0;
}

nav {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: var(--bg0);
}

nav ul, footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav > ul > li, footer > ul > li {
	display: inline;
	float: left;
}

nav > ul > li > a {
	display: block;
	padding: 1rem;
	margin: auto;
	text-align: center;
}

ul > li > a > img {
	width: 2rem;
	height: 2rem;
	padding: 0.5rem;
	margin: auto;
}

main {
	display: block;
	background-color: var(--bg1);
}

article {
	display: flex;
	width: 70%;
	justify-content: flex-start;
	justify-content: space-between;
	align-items: normal;
	margin: 1rem auto;
	background-color: var(--bg2);
	border-radius: 1rem;
}

.row {
	flex-direction: row;
	margin-left: 2rem;
}

.row-reversed {
	flex-direction: row-reverse;
	margin-right: 2rem;
}
